/* General Elements*/
body{
	background-image: url("../images/background.jpg")
}
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	padding: 10px;
}
h1, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 50px;
	color: white;
}

p {
	color: #42f4ce;
	font-weight: bolder;
	font-size: 20px;
}


div.header{
	background-color: #d67d2f;
	color: white;
}
div.header{
	width: 30%;
}
div.instructions {
	width: 50%;
	color: #42f4ce;
}


.numberToMatch{
	float: left;
	width: 15%;
	height: 60px;
}

.winsAndLosses{
	float: left;
	width: 7%;
	height: 60px;
}


.userTotal{
	width: 15%;
	height: 60px;
}
.crystals{
	clear: both;
}
.crysImage{
	height: 60px;
	margin: 10px;
}
